.portfolio {
    background-color: rgb(240, 235, 255);
    display: flex;
    flex: 4 1 200px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    height: 100vh;
    border-left: 1px solid rgb(156, 153, 166);
    border-right: 1px solid rgb(156, 153, 166);
    overflow: auto;

    .item {
        background-color: rgb(255, 255, 255);
        max-width: 320px;
        min-width: 100px;
        font-size: 24px;
        box-shadow: 0 0 6px 0 rgb(0, 0, 0);
        margin: 50px 20px 0 20px;
        transition: transform linear 0.1s, box-shadow linear 0.1s;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 0 8px 0 rgb(0, 0, 0);
            cursor: pointer;
            transition: transform linear 0.1s, box-shadow linear 0.1s;
        }

        &:last-child {
            margin-bottom: 50px;
        }

        h1 {
            font-size: 24px;
            margin: 0 0 0 1%;
            display: inline-block;
        }

        h2 {
            font-size: 18px;
            display: inline-block;
            margin: 0 0 1% 1%;
        }

        .github {
            width: 30px;
            display: inline-block;
            margin: 0 0 -5px 0;
        }

        .tag {
            font-size: 18px;
            display: inline-block;
            padding: 0 5px 0 5px;
            margin: 0 0 0 5px;
            color: rgb(255, 255, 255);
            border-radius: 4px;
        }

        .react {
            background-color: rgb(0, 174, 239);
        }

        .django {
            background-color: rgb(0, 114, 54);
        }

        .python {
            background-color: rgb(247, 148, 29);
        }
    }

    img {
        width: 98%;
        display: block;
        margin: 1% auto;
    }
}

.info {
    background-color: rgb(245, 242, 255);
    flex: 4 1 200px;
    height: 100vh;
    overflow: auto;

    img {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 94%;
    }

    h1 {
        font-size: 36px;
        margin: 0 0 0 4%;
        display: inline-block;
    }

    h2 {
        font-size: 24px;
        display: inline-block;
        margin: 0 0 1% 4%;
    }

    .github {
        width: 40px;
        display: inline-block;
        margin: 0 0 -5px 0;
    }

    .tag {
        font-size: 18px;
        display: inline-block;
        padding: 0 5px 0 5px;
        margin: 0 0 0 5px;
        color: rgb(255, 255, 255);
        border-radius: 4px;
    }

    .react {
        background-color: rgb(0, 174, 239);
    }

    .django {
        background-color: rgb(0, 114, 54);
    }

    .python {
        background-color: rgb(247, 148, 29);
    }

    .about {
        font-size: 18px;
        text-align: justify;
        display: inline-block;

        h2 {
            float: left;
            height: 100%;
            margin: 0 0 1% 4%;
            padding-right: 10px;
        }

        p {
            margin: 5px 3% 40px 100px;
        }
    }
}